<div class="sidebar">
    <!-- <app-brand></app-brand> -->

    <ul class="nav sidebar-menu">

        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fas fa-arrow-left"> &nbsp;&nbsp; </i>
                <span class="title">Back</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigate('users/profile','USER_PROFILE')">
                <i class="fa fa-book"> &nbsp;&nbsp; </i>
                <span class="title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigate('users/changePassword','USER_PROFILE')">
                <i class="fa fa-book"> &nbsp;&nbsp; </i>
                <span class="title">Change Password</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigate('users/academics','USER_PROFILE')">
                <i class="fa fa-book"> &nbsp;&nbsp; </i>
                <span class="title">Academics</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigate('users/github','USER_PROFILE')">
                <i class="fa fa-book"> &nbsp;&nbsp; </i>
                <span class="title">Github</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigate('users/sonarcloud','USER_PROFILE')">
                <i class="fa fa-book"> &nbsp;&nbsp; </i>
                <span class="title">SonarCloud</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" (click)="navigate('users/features','USER_PROFILE')">
                <i class="fa fa-book"> &nbsp;&nbsp; </i>
                <span class="title">Features</span>
            </a>
        </li> -->
    </ul>
</div>