<kt-page showSidebar="true">
    
        <div class="row">
            <div class="page-card col-6" *ngIf="dataSource">
    
                <h4 class="page-card-title">Features</h4>

         <table mat-table [dataSource]="dataSource" style="width: 100%;">
             <ng-container matColumnDef="featureName">
                 <th mat-header-cell *matHeaderCellDef> Feature Name </th>
                 <td mat-cell *matCellDef="let row"> {{row.feature.name}} </td>
             </ng-container>

             <ng-container matColumnDef="enabled">
                 <th mat-header-cell *matHeaderCellDef> Enabled </th>
                 <td mat-cell *matCellDef="let row"><span class="badge badge-primary" [ngClass]="{'badge-success':row.enabled,'badge-danger':!row.enabled}">{{row.enabled?"Y":"N"}}</span> </td>
             </ng-container>
             <tr mat-header-row *matHeaderRowDef="displayedColumns">
                <tr mat-row *matRowDef="let row;columns: displayedColumns"></tr>
                
         </table>
          
       </div>
   </div>
</kt-page>