<kt-page title="Batch Details" showSidebar="true" [breadcrumbItems]="breadcrumbItems">
    <div class="row" *ngIf="reportData">
        <!-- <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12"  -->
            <div class="col-md-1" style="width: 20%;
    flex: 0 0 20%;max-width: 20%;"
        *ngFor="let r of reportData;let i=index;">            
            <kt-dashboard-widget [reportData]="r" [class]="widgetColors[i]" ></kt-dashboard-widget>
        </div>
    </div>
    <ng-template #loading>
        <kt-progress-bar></kt-progress-bar>
    </ng-template>
    
    <div class="row" *ngIf="batch; else loading">    
        <div class="col">
            <div class="card card-custom" *ngIf="batch">
                <div class="card-header card-blue">
                    Batch - {{batch.name}}
                </div>
                <div class="card-body">
                    <table class="table table-responsive table-striped  w-100 d-block d-md-table table-sm">
                        <thead>
                            <tr>
                                <th>Code </th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>#Participants</th>
                                
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="batch">
                                <td>
                                    {{batch.code}}
                                </td>
                                <td>{{batch.name}}</td>
                                
                                <td>{{batch.startDate}}</td>
                                <td>{{batch.endDate}}</td>
                                <td>{{batch.noOfParticipants}}</td>
                                <td>{{batch.status}}</td>
                                
                                <td>
                                    <a [ngxPermissionsOnly]="['HR']" (click)="editDialog()" class="text-dark btn"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                    

                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</kt-page>