<kt-page [showSidebar]="showSidebar">
    <div class="page-title" *ngIf="project">
        {{project?.name}} Features
        <small *ngIf="project.flag">
            <i class="fa fa-flag" *ngIf="project.flag=='R'" aria-hidden="true" style="color:'red'"></i>
            <i class="fa fa-flag" *ngIf="project.flag=='G'" aria-hidden="true" style="color:'green'"></i>
            <i class="fa fa-flag" *ngIf="project.flag=='O'" aria-hidden="true" style="color:'orange'"></i>
        </small>
        <br />
    </div>
    <ul>

        <li>
            Test Url: ( <a href="{{project.githubUrl}}" target="_blank">{{project.githubUrl }}</a> )
        </li>
        <li class="ml-auto">
            Test Url: ( <a href="{{project.projectTestUrl}}" target="_blank">{{project.projectTestUrl }}</a> )
        </li>
        <li>
            Code Quality URL ( <a href="{{project.sonarqubeUrl}}" target="_blank">{{project.sonarqubeUrl }}</a> )
        </li>
    </ul>
    <ng-template #loading>
        <kt-loading-bar></kt-loading-bar>
    </ng-template>

    <br />
    <div class="row" *ngIf="reportData">
        <div class="col-2" *ngFor="let r of reportData;let i=index;">
            <kt-dashboard-widget [reportData]="r" [class]="widgetColors[i]"></kt-dashboard-widget>
        </div>
    </div>
    <div class="page-title">Features

    </div>


    <div *ngIf="modules && projectFeatures else loading">
        <div class="row" *ngFor="let i=index;let m of modules">
            <div class="col">
                <div class="card card-custom gutter-b">
                    <div class="card-header card-blue">
                        <div class="card-title text-white">
                            Module #{{i+1}} - {{m.name}} ( {{projectFeatures[m.name]?projectFeatures[m.name].length:0}}
                            Features )
                        </div>

                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="20%">Feature Name</th>
                                    <th *ngIf="isExists('description')">Description</th>
                                    <th *ngIf="isExists('technologies')">Technologies</th>
                                    <th *ngIf="isExists('priority')">Priority</th>

                                    <th>Developed By</th>
                                    <th>Created On</th>
                                    <th>Last Updated On</th>
                                    <th>Status</th>
                                    <th>Rating</th>
                                    <th *ngIf="isExists('action')">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngFor="let j=index;let t of projectFeatures[m.name]">
                                    <tr class="{{t.status}}">
                                        <td>{{j+1}}</td>
                                        <td>{{t.name}}
                                        </td>
                                        <td>
                                            <div [innerHTML]="t.description"></div>
                                        </td>
                                        <td *ngIf="isExists('technologies')">
                                            <lib-tag-skills *ngIf="t.tags" [isEditable]="false" [featureId]="t.id"
                                                [tags]="t.tags">
                                            </lib-tag-skills>
                                        </td>

                                        <td *ngIf="isExists('priority')">{{t.priority}}</td>
                                        <td>{{t.assigned_to}}</td>
                                        <td>{{t.created_date | moment}}</td>
                                        <td>{{t.modified_date | moment}}</td>
                                        <td>



                                            {{t.status}} &nbsp;


                                        </td>
                                        <td>
                                            {{t.rating}}
                                        </td>
                                        <td *ngIf="isExists('action')">
                                            <!-- <button routerLink="{{t.id}}" class="btn btn-info btn-sm"> View</button>
                                            &nbsp;
                                            <button *ngIf="isMentor" routerLink="../../reviews/{{t.id}}"
                                                class="btn btn-info btn-sm"> Rating</button> &nbsp; -->
                                            <!--  -->
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</kt-page>