<kt-sidebar [menus]="menus" showSidebar="true"></kt-sidebar>
<kt-page title="New User" [breadcrumbItems]="breadcrumbItems" showSidebar="true">

    <div class="row">
        <div class="col">
            <div class="card card-custom">
                <div class="card-header card-blue">
                    New user
                </div>
                <div class="card-body">
                    <form (submit)="save(user)">
                    <table class="table table-responsive table-striped  w-100 d-block d-md-table table-sm">
                        <tbody>
                            <tr>
                                <th width="30%">Username </th>
                                <td width="70%">
                                    <input type="text" [(ngModel)]="user.username" name="username" required autofocus />
                                    </td>
                            </tr>
                            <tr>
                                <th width="30%">Name</th>
                                <td width="70%"><input type="text" [(ngModel)]="user.name" name="name" required  /></td>
                            </tr>
                            <tr>
                                <th width="30%">Email</th>
                                <td width="70%"><input type="email" [(ngModel)]="user.email" name="email" required  /></td>
                            </tr>
                            <tr>
                                <th width="30%">Role</th>
                                <td width="70%">
                                    <select [(ngModel)]="user.role" name="role" required  >
                                        <option value="U">User</option>
                                        <option value="T">Trainer</option>
                                        </select>
                                    </td>
                            </tr>
                            <tr>
                                <th></th>
                               <td><button type="submit" class="btn btn-success">Submit</button> &nbsp;
                                <button type="reset" class="btn btn-danger">Cancel</button>
                            </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-custom" >
                <div class="card-header card-blue">
                    Import Users
                </div>
                <div class="card-body">
                    <div id="import-error-message"></div>
                    <form #rForm="ngForm" (submit)="uploadFile()">
                    <table class="table table-responsive table-striped  w-100 d-block d-md-table table-sm">
                        <tbody>
                            <tr>
                                <th width="30%">Select File </th>
                                <td width="70%">
                                    <input type="file"   (change)="onFileSelect($event)" name="file" required autofocus />
                                    </td>
                            </tr>
                            <tr>
                                <th></th>
                               <td><button type="submit" [disabled]="rForm.invalid" class="btn btn-success">Submit</button> &nbsp;
                                <button type="reset" class="btn btn-danger">Cancel</button>
                            </td>
                            </tr>                            
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</kt-page>