<!-- <kt-page title="Interview Dashboard  - {{userId}} " showSidebar="true">
    <div class="row d-none d-lg-flex" *ngIf="reportData">
<div class="col-md-1" style="width: 20%;
    flex: 0 0 20%;max-width: 20%;" *ngFor="let r of reportData;let i=index;">
    <kt-dashboard-widget [reportData]="r" [class]="widgetColors[i]"></kt-dashboard-widget>
</div>
</div>
<ng-template #loading>
    <kt-loading-bar></kt-loading-bar>
</ng-template>
<section *ngIf="interviews;else loading">
    <div class="row">
        <div class="col-12">
            <div class="card card-custom gutter-b">
                <div class="card-header card-blue">
                    Interviews
</div>
<div class="card-body">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th width="20%">Title</th>
                <th>Interview Date</th>
                <th>Timing</th>
                <th>Mode</th>
                <th>Interviewer</th>
                <th>Status</th>
                <th>Rating</th>
                <th>Comments</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i=index;let c of interviews">
                <td>{{i+1}}</td>
                <td>{{c.interview.company.name}}</td>
                <td>{{c.interview.title}}</td>
                <td>{{c.interview.interviewDate}}</td>
                <td>{{c.interviewTime}}</td>
                <td>{{c.interview.mode}}</td>
                <td>{{c.interviewer.username}}</td>
                <td>{{c.status}}</td>
                <td>{{c.rating}}</td>
                <td>{{c.comments}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</section>
</kt-page> -->