<kt-page title="Change Password" [breadcrumbItems]="breadcrumbItems" showSidebar="true">
<div class="row">
       <div class="col-6">
          
            <div class="card auth-card">
                <div class="card-header">
                    <div class="text-center" style="padding: 3px 0px 8px 0;">
                        <!-- <img src="/assets/theme/img/spinsoft-logo.png" height="20%" style="width: 60%; padding: 0; height: 20%;">  -->
                        <h4 class="card-title">Change Password</h4>
                    </div>
                </div>
                <div class="card-body">
                   
                    <form #aForm="ngForm" (ngSubmit)="submit()">                        
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Username/Email</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Username/Email" id="email"
                                name="email" [(ngModel)]="account.username" required autofocus>
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Old Password</span>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter Old Password" id="oldPassword"
                                name="oldPassword" [(ngModel)]="account.oldPassword" required autofocus>
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">New Password</span>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter New Password" id="password"
                                name="password" [(ngModel)]="account.password" required autofocus>
                          </div>
                                                   
                          <br/>
                        <button type="submit" [disabled]="aForm.invalid" class="btn btn-info">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    
  </div>
</kt-page>