/* You can add global styles to this file, and also import other style files */


@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "~ngx-toastr/toastr.css";

@import "~highlight.js/styles/idea.css";


.mat-header-cell {
    font-size: 20px;
    font-weight: 500px;
}

.mat-cell {
    font-size: 20px;
}


.feature-description {    
    font-size: 20px;
}